.add-project-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    background-color: transparent;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

label {
    width: fit-content;
    font-size: 16px;
    text-align: left;
}

input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-project-button {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.add-project-button:hover {
    background-color: #007bff;
}

.add-project-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}